<mat-card>
  <mat-card-title>Lista de Estudiantes</mat-card-title>
  <mat-card-content>
    <div *ngIf="loading">
      <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
    </div>
    <mat-list *ngIf="!loading">
      <mat-list-item *ngFor="let estudiante of estudiantes">
        <mat-icon matListIcon>person</mat-icon>
        <h4 matLine>{{ estudiante.nombre }}</h4>
        <p matLine>ID: {{ estudiante.id }}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>